@font-face {
    font-family: "Futura Bk";
    src: url("assets/font/hinted-Futura-Book.woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Abril Fatface";
    src: url("assets/font/hinted-AbrilFatface-Regular.woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Futura";
    src: url("assets/font/hinted-Futura.woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Futura";
    src: url("assets/font/hinted-Futura-Bold.woff");
    font-weight: bold; 
    font-style: normal;
  }
